<h1>Estadísticas</h1>
<table class="stadistics">
<tr><td>Número de preguntas</td><td><%=statistics.numQuizs%> </td></tr>
<tr><td>Número de comentarios (publicados)</td><td><%=statistics.numComments%> </td></tr>
<tr><td>Número medio de comentarios (publicados) por pregunta</td><td><%=statistics.avgComments.toFixed(2)%> </td></tr>
<tr><td>Número de preguntas sin comentarios (publicados)</td><td><%=statistics.numQuizsWithoutComments%> </td></tr>
<tr><td>Número de preguntas con comentarios (publicados)</td><td><%=statistics.numQuizsWithComments%> </td></tr>
</table>